*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.body-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  border: 5px black solid;
  padding: 60px 120px;
  font-size: 3rem;
  text-decoration: none;
  position: relative;
  /* overflow: hidden; */
}

.button:before {
  /* top left brick */
  content: " ";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 1s;
}

.button:hover:before {
  transform: rotateX(0deg);
}

.button:after {
  /* top left brick */
  content: " ";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: -1;
  transform: rotateY(90deg);
  transition: all 1s;
}

.button:hover:after {
  transform: rotateY(0deg);
}
.button:hover {
  color: white;
}
