*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  background-color: rgb(8, 8, 8);
}

/* Centers the button on the screen*/
.body-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  position: relative;
  font-size: 3.5rem;
  text-decoration: none;
  color: white;
  padding: 40px 80px;
  border: 5px white solid;
  box-shadow: 5px 5px 5px #fbfafa91;
  overflow: hidden;
}

.button:before {
  content: "Enter";
  background-color: rgb(105, 105, 50);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  /* z-index: -1; */
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover:before {
  transform: translateY(0);
  transition: all 1s;
  box-shadow: 5px 5px 5px #fbfafa91;
}

.button:hover {
  color: white;
  box-shadow: 5px 5px 5px #fbfafa91;
  transition: color 1s;
}

.button:active {
  box-shadow: none;
}
