*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Centers the button on the screen*/
.body-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  text-decoration: none;
  color: black;
  font-size: 3.5rem;
  border: 5px black solid;
  padding: 40px 80px;
  box-shadow: 5px 5px 5px;
  position: relative;
  overflow: hidden;
}

.button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #51ff0095;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: 1s;
}

.button:hover:before {
  transform: rotate(0deg);
}

.button:active {
  box-shadow: none;
}
