body {
  box-sizing: border-box;
}

.body-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 150px;
  width: 450px;
  font-size: 1.5rem;
  background-color: white;
  border: 5px black solid;
}
