*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.body-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.button-link {
  position: relative;
  border: 5px black solid;
  color: black;
  padding: 20px 40px;
  box-shadow: 5px 5px 5px 2px;
  font-size: 3.5rem;
  text-decoration: none;
  overflow: hidden;
}

.button-link:before {
  content: "ENTER";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;

  background-color: rebeccapurple;
  color: white;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  transition: all 0.5s;
  opacity: 0;
}

.button-link:hover:before {
  box-shadow: 5px 5px 5px 2px;
  transform: scale(1);
  opacity: 1;
}
.button-link:hover {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 5px 2px black;
}

.button-link:active {
  box-shadow: none;
}
